.container {
  overflow: hidden;
  margin: auto;
  width: 300px;
  height: 200px;
}
.image {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.List-main {
  margin: 5vh auto;
  width: 90vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
/* img:hover {
  transition: 1s all ease-in-out;
  transform: scale(1.1);
}
img:not(:hover) {
  transition: 1s all ease-in-out;
  transform: scale(1);
} */
